html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    
}
.head h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin: 2rem 0;
    color: black;
}
.container-main{
    display:flex;
    font-size: 12px; 
    margin-left: 1rem; 
}
.container-main--form{ 
    width: 45%;
    padding-left: 10%;
    font-size: 12px;
    color: #4F4F4F;
}
#email,#phone,#name,#address,#city{
    width: 90%;
    border: none;
    padding: 0 2%;
}
form p{
    border: 1px solid #828282;
    padding: 8px 5px 8px 5px;
    color: #828282;
    font-size: 14px;
    border-radius: 5px;
    width: 90%;
}
.country-post{
    display: flex;
}
.country{
    width: 30%;
   
}
.post{
    width: 60%;
    margin-left: 10px;
}
#post-code,#country{
    border: none;
    width: 85%;
}
#continue{    
    width: 15%;
    padding: 10px 0;
    border-radius: 10px;
    background-color:#f2994a;
    float: right;
    margin-right: 7%;
    border: none;
}
.container-main-product{
    box-sizing: border-box;
    width: 35%;
    height: 30%;
    font-size: 16px;
    color: #4F4F4F; 
    padding: 10px 20px;
    background-color:#eeee;
    border-radius: 10px;
}
.main-product--bag,.main-product--levi{
    display: flex;
    margin-bottom: 5%;
}
.image1 img,.image2 img{
    display:fixed;
    width: 96px;
    height: 116.6px;
    border-radius: 10px;
    margin: 5px;
}
.bag-info,.levi-info{   
    font-size: 16px;
    display: inline; 
    margin-left: 5%; 
}
.bag-info h2,.levi-info h2{
    margin: 5px 0;
    font-size: 16px;
    font-weight: 700;
}
strong{
    font-size: 16px;
    font-weight: 600;
    color: #f2994a;
}
.main-product--levi span,.main-product--bag span{
    font-size: 12px;
    text-decoration: line-through;
    color:#4F4F4F;
}
.bag-info--quantity,.levi-info-quantity  {
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    width: 102px;
    height: 34px;
    margin-top: 25%; 
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 900;
}
.bag-info--quantity button,.levi-info-quantity button {
    border: none;
    background-color: gainsboro;
    border-radius: 5px;
    height: 80%;
    margin: 5px;
}
.bag-info--quantity p,.levi-info-quantity p{
    border: none;
    margin: 0 10px;
}
.main-product--detail{
    text-align: justify;
}
.detail-shipping p{
    position: relative;
    border-top: 1px solid rgb(97, 97, 97);
    margin: 0;
    padding: 10px 0;
    word-spacing:180px;
}
.detail-total p{
    position: relative;
    border-top: 1px solid rgb(97, 97, 97);
    margin: 0;
    padding: 10px 0;
    word-spacing: 180px;
}
input[type=text]:focus{
    outline: none;
}
input[type=email]:focus{
    outline: none;
}
input[type=tel]:focus{
    outline: none;
}
#country:focus{
    outline: none;
}